texlive-xetex
latexmk
texlive-amsmath
texlive-beamer
texlive-booktabs
texlive-cite
texlive-fontspec
texlive-fp
texlive-geometry
texlive-ifxetex
texlive-lipsum
texlive-subfigure
texlive-xcolor
texlive-was
texlive-datetime
texlive-lastpage
texlive-lipsum
texlive-textpos
texlive-isodate
texlive-a0poster
texlive-mdframed
